*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #fff;
}
.container{
    max-width: 1280px;
    margin: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
nav ul li, a {
    color: #575757;
    list-style: none;
    text-decoration: none;
    font-size: 18px;
}
.logo{
    flex: 1;
}
.menu{
    flex: 2; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.nav-btn{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.btn{
    color: #fff;
    background-color: #2563EB;
    border-radius: 5px;
    padding: 10px 15px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
/* banner section  */
.banner-img img{
    display: block;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.banner-img::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(15, 11, 11, 0.2);
    z-index: 1;
}

.banner-img{
    position: relative;
    height: 600px;
    overflow: hidden;
}
.banner-text{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 2;
}
.banner-text h2{
    font-size: 4em;
    font-weight: 900;
}
.banner-text p{
    font-size: 18px;
    width: 650px;
}
.banner-btn{
    position: absolute;
    top: 80%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 2;
}

/* meet-the-speaker section */
.meet-the-speaker-section{
    margin-top: 70px;
}

.meet-the-speaker-text{
    text-align: center;
    padding-bottom: 30px;
}
.meet-the-speaker-text h2{
    font-size: 3em;
}
.meet-the-speaker-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.meet-card .label{
    color: #2563EB;
    font-size: 18px;
    font-weight: 600;
}
.meet-card h2{
    color: #000;
    font-size: 22px;
    font-weight: 600;
}
.meet-card p{
    color: #575757;
    font-size: 18px;
    font-weight: 600;
}
.meet-card p, h2{
    padding-top: 20px;
}


